{% extends 'clientes/base.html' %}

{% block content %}
<h1>Lista de Clientes</h1>
<ul>
    <table class="table">
      <thead>
        <tr>
          <th>N° Socio</th>
          <th>Dni</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for cliente in clientes %}
        <tr>
          <td>{{ cliente.num_socio }}</td>
          <td>{{ cliente.dni }}</td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido }}</td>
          <td>
            <a href="{% url 'ver_cliente' cliente.id %}" class="btn btn-success">Ver datos</a>
            <a href="{% url 'editar_cliente' cliente.id %}" class="btn btn-success">Editar</a>
            <a href="{% url 'eliminar_cliente' cliente.id %}" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</ul>

<a href="{% url 'lista_clientes' %}" class="btn btn-secondary">Salir</a>
{% endblock %}

